[Desktop Entry]
Type=Application
Name=Ayatana Indicator Update Notifier
Exec=ayatana-indicator-updatenotifier
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;MATE;XFCE;Budgie;
